.menu a {
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
}

.menu a:hover {
    color: #0066cc !important;
}

.menua a:active {
    color: #0066cc !important;
    background-color: white !important;
}

.modal-dialog {
    min-width: 60vw;
}

#logo {
    margin-right: 10px;
}

.active {
    position: relative;
}

.dropdown-toggle::after {
    margin: 0 !important;
    border: none !important;
}

.dropdown-item:hover  {
    color: #0066cc !important;
}

.active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 110%;
    background: #0066cc;
    bottom: -1em;
    left: -5%;
}

#search-form {
    display: flex;
    gap: 10px;
}